#title,
#subtitle {
  animation: bottomFade 0.5s ease-in-out 0s 1 normal none;
}
#url-form {
  animation: bottomFade 0.7s ease 0s 1 normal forwards;
}
@keyframes bottomFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
